/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2015, 4:43:50 PM
    Author     : Rahul
*/

html{
    background-color: yellow;
}

#cap {   
  text-align: center;
  color: red;     
}

#myImg{    
    display: block;
    margin-top : 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
}
#pbutton{          
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 44.5%;
    margin-right: 20;
}
#playbutton{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 20px;
}
#fbutton{        
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 20px;
    margin-right: auto;
}
