/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Rahul Verma
 */


.slide_file_toolbar{
      -fx-background-radius: 5.0;
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%,white,rgb(255,248,1),white);
    -fx-border-color: rgb(0,0,153);
    -fx-alignment: center;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;  
}

.slide_show_edit_vbox {    
    -fx-background-radius: 5.0;
    -fx-background-color: linear-gradient(white,rgb(255,248,1),white);
    -fx-border-color: rgb(0,0,153);
    -fx-alignment: center;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;    
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255,227,41);
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.vertical_toolbar_button {
    -fx-background-color: rgb(255, 251, 119);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-border-color: rgb(179,210,245);
    -fx-border-thickness: 1px;
}
.titlebox{
    -fx-background-color: rgb(255,255,102);
    
    
}
.workspace{
    -fx-spacing: 400px;
    -fx-background-color: rgb(255,255,102);
    

}

.dialogText{
    -fx-font-family: "Calibiri";
    -fx-font-size: 14pt; 
    -fx-text-fill: purple;
}

.error{
    -fx-font-family: "Calibiri";
    -fx-font-size: 14pt; 
    -fx-text-fill:red;
}

.tandcText{
    -fx-font-family: "Calibiri";
    -fx-font-size: 14pt; 
    -fx-text-fill: purple;
}

.primaryscene{
   -fx-background-color: rgb(255,255,102);
}

.buttonBox{
    -fx-alignment:center;
    
}

.dialogBox{
    
    -fx-font-family: "Calibiri";
    -fx-font-size: 14pt; 
    -fx-text-fill: purple;    
    -fx-background-color: rgb(255,255,102);
    
}


.scroll_pane{
    
    
    
}

.button_styling{
    -fx-border-color: white lightblue;
    -fx-border-width: 10px;
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-background-color: rgb(255, 251, 119);
    -fx-border-color: rgb(179,210,245);
    -fx-border-thickness: 2px;

}

.selectionBorder{
    -fx-border-color: purple;
    -fx-border-width: 6;
    -fx-border-style: dashed;   
}